{% extends "index.html" %}


{% block content %}
<a href="{% url 'add_usermachine' %}">
  <button type="button" class="btn btn-primary">
      <i class="bi bi-plus-square"></i>

  </button>
</a>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Utilisateur</th>
        <th scope="col">Nom machine</th>
        <th scope="col">Type machine</th>
        <th>action</th>

      </tr>
    </thead>
    <tbody>
      {% if user_machines %}
          {% for usermachine in user_machines %}
            <tr>
              <td>{{ usermachine.personne}}</td>
              <td>{{ usermachine.machine}}</td>
              <td>{{ usermachine.dateAttribution}}</td>
              <td>
                <a href="{% url 'detail_usermachine' usermachine.pk %}">
                  <button type="button" class="btn btn-secondary">
                      <i class="bi bi-eye-fill"></i>

                  </button>
                </a>
              </td>
            </tr>
          {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}
