{% extends "index.html" %}

{% block content %}
<div class="container">
  <div class="card border-primary">
    <div class="card-header text-center bg-primary text-white">
      <h1>DETAIL MAINTENANCE PREVENTIF</h1>
    </div>
    <div>
      <ul class="list-group list-group-horizontal-xl ">
        <li class="list-group-item col-sm-3">NOM MACHINE </li>
        <li class="list-group-item col-sm-9">{{ maintenance.machine}}</li>
      </ul>
    </div>
    <div>
      <ul class="list-group list-group-horizontal-xl ">
        <li class="list-group-item col-sm-3">EMPLOYE</li>
        <li class="list-group-item col-sm-9">{{ maintenance.personne}}</li>
      </ul>
    </div>
    <div>
      <ul class="list-group list-group-horizontal-xl ">
        <li class="list-group-item col-sm-3">MAINTENANCE A FAIRE</li>
        <li class="list-group-item col-sm-9">{{ maintenance.type_maintenance }}</li>
      </ul>
    </div>
    <div>
      <ul class="list-group list-group-horizontal-xl ">
        <li class="list-group-item col-sm-3">DATE</li>
        <li class="list-group-item col-sm-9">{{ maintenance.date|date:"d-m-Y" }}</li>
      </ul>
    </div>
    <div class="card-footer bg-transparent border-primary">
      <a href="{% url 'list_maintenance' %}"><button class="btn btn-primary"><i class="bi bi-arrow-left"></i>Retour</button></a>
    </div>
  </div>
</div>
{% endblock %}
