{% extends "index.html" %}

{% block content %}
<div class="container">
  <div class="card border-primary">
    <div class="card-header text-center bg-primary text-white">
      <h1>DETAIL EMPLOYE</h1>
    </div>
    <div>
      <ul class="list-group list-group-horizontal-xl ">
        <li class="list-group-item col-sm-3">PRENOM </li>
        <li class="list-group-item col-sm-9">{{ personne.nom}}</li>
      </ul>
    </div>
    <div>
      <ul class="list-group list-group-horizontal-xl ">
        <li class="list-group-item col-sm-3">NOM</li>
        <li class="list-group-item col-sm-9">{{ personne.prenom}}</li>
      </ul>
    </div>
    <div>
      <ul class="list-group list-group-horizontal-xl ">
        <li class="list-group-item col-sm-3">POSTE</li>
        <li class="list-group-item col-sm-9">{{ personne.poste }}</li>
      </ul>
    </div>
    <div class="card-footer bg-transparent border-primary">
      <a href="{% url 'list_personnes' %}"><button class="btn btn-primary"><i class="bi bi-arrow-left"></i>Retour</button></a>
      <a href="{% url 'update_personne' personne.pk %}"><button class="btn btn-primary">  <i class="bi bi-pencil-square"></i>Modifier</button></a>
      <a href="{% url 'delete_personne' personne.pk %}" onclick="return confirm('Etes vous sure de bien vouloir supprimer?')"><button class="btn btn-danger"><i class="bi bi-trash-fill"></i>Supprimer</button></a>
    </div>
  </div>
</div>
{% endblock %}
