{% extends "index.html" %}

{% block content %}
<div class="container">
  <div class="card border-primary">
    <div class="card-header text-center bg-primary text-white">
      <h1>DETAIL ATTRIBUTION</h1>
    </div>
    <div>
      <ul class="list-group list-group-horizontal-xl ">
        <li class="list-group-item col-sm-3">EQUIPEMENT </li>
        <li class="list-group-item col-sm-9">{{ user_machine.machine}}</li>
      </ul>
    </div>
    <div>
      <ul class="list-group list-group-horizontal-xl ">
        <li class="list-group-item col-sm-3">PERSONNE</li>
        <li class="list-group-item col-sm-9">{{ user_machine.personne}}</li>
      </ul>
    </div>
    <div>
      <ul class="list-group list-group-horizontal-xl ">
        <li class="list-group-item col-sm-3">DATE ATTRIBUTION</li>
        <li class="list-group-item col-sm-9">{{ user_machine.dateAttribution|date:"d-m-Y" }}</li>
      </ul>
    </div>
    <div class="card-footer bg-transparent border-primary">
      <a href="{% url 'list_usermachine' %}"><button class="btn btn-primary"><i class="bi bi-arrow-left"></i>Retour</button></a>
      <a href="{% url 'update_usermachine' user_machine.pk %}"><button class="btn btn-primary">  <i class="bi bi-pencil-square"></i>Modifier</button></a>
      <a href="{% url 'delete_usermachine' user_machine.pk %}" onclick="return confirm('Etes vous sure de bien vouloir supprimer?')"><button class="btn btn-danger"><i class="bi bi-trash-fill"></i>Supprimer</button></a>
    </div>
  </div>
</div>
{% endblock %}
